{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} Sistema de Agendamento {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" type="image/webp" href="{% static 'img/favicon.webp' %}">  
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
        body {
            font-family: "Krona One", sans-serif;
            background-color: #C2C2C2;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md bg-white py-1 border-black border-bottom">
            <div class="container-md">        
                <a href="{% url 'core:index' %}" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/logo_ifbaiano.webp' %}" height="100" alt="IF Baiano">
                </a>
        
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse" id="menu">
                    <div class="navbar-nav ms-auto">                    
                        <a href="#" class="btn btn-outline-dark me-2 py-2">Entrar</a>
                        <a href="#" class="btn btn-outline-dark py-2">Cadastre-se</a>
                    </div>          
                </div>          
            </div> 
        </nav>
    </header>
    <main class="pt-5">    
        {% block content %}
        {% endblock  %}
    </main>
    <footer class="container-fluid pt-5 pb-3">
        <p class="text-center text-muted small">&copy; Direitos reservados - Futuro Digital 2026</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>
</body>
</html>
